/* Task Item */
.tasks__list-item {
  display: flex;
  align-items: center;
  background-color: var(--secondary-color);
  border-radius: 7px;
  transition: background-color 150ms ease-in-out;
  cursor: pointer;
}

.tasks__list-item:hover {
  background-color: var(--hover-color);
}

.tasks__list-item.is-complete {
  opacity: 0.5;
}

/* Tasks Empty Msg */
.tasks__list-empty-msg {
  background-color: unset;
  border-radius: unset;
}

.tasks__list-empty-msg:hover {
  background-color: unset;
}

/* Task Inputs */
.tasks__task-inputs {
  flex-grow: 1;
  display: flex;
  align-items: center;
  padding: 20px 15px;
}

/* Task Input Label */
.tasks__list-label {
  cursor: pointer;
}

.tasks__list-label:first-child {
  margin-right: 20px;
}

.tasks__list-label:nth-child(2) {
  flex-grow: 1;
}

/* Task Text Input */
input[type="checkbox"].tasks__list-checkbox-input {
  display: block;
}

/* Task Text Input */
input[type="text"].tasks__list-text-input {
  width: 100%;
  padding: 10px 0;
  font-weight: 500;
  background-color: unset;
}

/* Task Actions */
.tasks__task-actions {
  display: flex;
  align-items: center;
  padding: 20px 15px;
}

.tasks__update-task-button,
.tasks__delete-task-button {
  padding: 10px;
}
